$primary-bg: #ffffff;
$secondary-bg: #22004f;
$hover-bg: #22004f;



#main-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 70px 1fr 50px;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "header header header"
        "sidebar main footer";
    background-color: $primary-bg;
    overflow: hidden; /* Prevent overall scrolling */
}

header {
    grid-area: header;
    max-height: 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: $primary-bg;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

aside {
    grid-area: sidebar;
    position: sticky;
    top: 50px; /* Ensures it stays below the header */
    overflow-y: hidden; /* Enables vertical scrolling within the sidebar */
    width: 70px;
    transition: width 0.3s ease;
    // border-top-right-radius: 0.5cm;
    // background-color: $secondary-bg;
    z-index: 100;
    max-height: calc(100vh - 50px); /* Restrict height to fit the viewport */
}

aside:hover {
    width: 200px;
    z-index: 10000;
}

main {
    grid-area: main;
    overflow: hidden;
    border-top-right-radius: 0.5cm;
    background-color: $primary-bg;
    padding: 1rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-bg;
    padding: 1rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    #main-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
        overflow: auto; /* Allow scrolling on small screens */
    }

    aside {
        display: none; /* Hide sidebar on small screens */
    }

    main {
        grid-area: main;
        padding: 0.5rem;
    }

    footer {
        grid-area: footer;
        text-align: center;
        padding: 0.5rem;
    }
}
