<tr >
    <ng-container *ngFor="let columnData of dataFlowContrpller.tableComponenProperties.columnsConfigs">
        <!-- Handle headers with no child headers -->
        <th [attr.rowspan]="columnData?.childHeaderConfigs ? null : 2"
            [attr.colspan]="columnData?.childHeaderConfigs?.length || 1" 
            [ngClass]="{'test': columnData?.childHeaderConfigs}"
            style=" border: 0px;">

            <table-header-cell [columnConfig]="columnData" [configs]="columnData?.headerCellConfigs"
                [dataFlowContrpller]="dataFlowContrpller"></table-header-cell>

        </th>
    </ng-container>
</tr>


<tr>
    <ng-container *ngFor="let columnData of dataFlowContrpller.tableComponenProperties.columnsConfigs">
        <!-- Handle child headers if present -->
        <ng-container *ngIf="columnData.childHeaderConfigs" >
            <th *ngFor="let child of columnData.childHeaderConfigs" style="border: 4px;">
                <table-header-cell [columnConfig]="child" [configs]="child?.headerCellConfigs"
                    [dataFlowContrpller]="dataFlowContrpller"
                    >
                </table-header-cell>
            </th>
        </ng-container>
    </ng-container>
</tr>
