/* General Styling */
#sidebar-scrollable {
    flex-grow: 1; 
    overflow-y: auto; 
    max-height: calc(100vh - 50px); 
    padding: 10px;
    background-color: #1c2655; /* Optional background for contrast */


    -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer */
    scrollbar-width: none;  
}

/* Sidebar Menu */
#sidebar-menu {
    list-style: none; 
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}

/* Sidebar Menu Item */
#sidebar-menu-item {
    transition: all 0.3s ease-out;
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    border-radius: 8px;
}

#sidebar-menu-item:hover {
    background-color: rgba(255, 119, 0, 0.1); /* Add hover effect */
    color: #ff7700; /* Change text color on hover */
}

/* Menu Item Content */
.menu-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px ;
    transition: all 0.3s ease-in-out;
}

/* Icon Styling */
#menu-icon {
    border-radius: 10%; 
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #222c65; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; /* Use CSS variables or fixed font size */
    color: #dcdcdc;
    transition: background-color 0.3s, transform 0.3s;
}

#menu-icon:hover {
    background-color: #ff7700; 
    transform: scale(1.1); /* Slight zoom on hover */
}

/* Label Styling */
#menu-label {
    font-size: 12px; 
    line-height: 1.2;
    margin-top: 6px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%; 
    color: #c8c8c8; /* Default text color */
    transition: color 0.3s;
}

#menu-label:hover {
    color: #ff7700; /* Text color change on hover */
}

/* Hover Effect for Menu Item */
.menu-item-content:hover #menu-icon {
    background-color: #ff7700; 
}

.menu-item-content:hover #menu-label {
    color: #ff7700; 
}

/* Responsive Design */
@media (max-width: 768px) {
    #menu-label {
        font-size: 10px;
    }
    #menu-icon {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 480px) {
    #menu-label {
        font-size: 8px;
        display: none; /* Hide labels for small screens */
    }
    #menu-icon {
        width: 30px;
        height: 30px;
    }
}




