<div>

    <div class="table-responsive" style="height: calc(-290px + 100vh);">
        <table class="table table-hover">

             <!-- TableHeaderComponent -->
            <thead table-header [configs]="properties.headerConfigs" [dataFlowContrpller]="dataFlowContrpller" class="sticky-top top-n1px tb-head-shadow"></thead>

            <tbody>
                <!-- If data is received -->
                <ng-container *ngIf="dataFlowContrpller.dataToPresent">

                    <ng-container *ngFor="let rowData of dataFlowContrpller.dataToPresent">
                        <!-- TableRowComponent -->
                        <tr table-row [dataObject]="rowData" [configs]="properties.rowConfigs" [dataFlowContrpller]="dataFlowContrpller"></tr>
                    </ng-container>

                </ng-container>
            </tbody>
            <!-- TableRowComponent TODO : Need to implement-->
            <tfoot *ngIf="properties.showFooter" table-footer></tfoot>

        </table>


        <!-- If no data is received -->
        <ng-container *ngIf="!dataFlowContrpller.dataToPresent.length">
            <div class="zpl_Emptydata">
                <div>
                    <div class="zpl_emptimg zp_nd_nodata"></div>
                    <h4>No Data Found</h4>
                </div>
            </div>
        </ng-container>

    </div>



    <ng-container >
        <!-- TablePaginationComponent -->
        <table-pagination class="sticky-bottom" *ngIf="properties.showpagination"
            [configs]="properties.paginationConfigs" [dataFlowContrpller]="dataFlowContrpller"></table-pagination>

    </ng-container>

</div>