
<nav class="navbar navbar-expand-lg navbar-light" style="max-height: 50px;">
    <div class="container-fluid">
        <!-- Sidebar Toggle Button -->
        <button class="navbar-toggler me-2" id="btn-menu" type="button">
            <i class="ri-menu-line" style="font-size: 1.5rem;"></i>
        </button>

        <!-- Branding -->
        <a class="navbar-brand d-flex align-items-center">
            <img src="../../../assets/brand-image.jpg" class="img-fluid brand-image" alt="Logo" />
            <span class="ms-2">Quick View</span>
        </a>

        <!-- Access Hierarchy Button -->
             <li class="nav-item d-sm-flex align-items-center"> <!-- *ngIf="hierarchyData?.currConfig?.isInvisible" -->
                <a id="btn-hierarchy" type="button" class="btn ri-node-tree btn-success">
                    <!--ng-click="openAccessHierarchy()" *ngIf="headerMetadata.showAccessLevel"-->
                    {{ 'Access Hierarchy' }}
                </a>
            </li>




        <!-- Right navbar links -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <button class="btn btn-primary">Test</button>
                </li>
            </ul>
        </div>
    </div>
</nav>