<div class="pagination-controls">

    <ngb-pagination  style="margin-top: 16px;" 
        [collectionSize]="properties.collectionSize"
        [pageSize]="properties.pageSize"
        [(page)]="properties.page"
        [maxSize]="3"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="false"
        (pageChange)="onPageChange()">
        
        <ng-template ngbPaginationPrevious>« {{ 'Prev' }} </ng-template>
        <ng-template ngbPaginationNext> {{ 'Next' }} »</ng-template>
        <ng-template ngbPaginationFirst>«« {{ 'First' }} </ng-template>
        <ng-template ngbPaginationLast> {{ 'Last' }} »»</ng-template>
    </ngb-pagination>


    <div class="col d-flex justify-content-end align-items-center">
    </div>



    <div *ngIf="properties.showRowSelector" class="col-auto col-xxl-2 d-flex justify-content-end align-items-center ms-auto">
        <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="properties.pageSize"
            (change)="onPageChange()">
            <option *ngFor="let count of properties.rowSelectorConfigs" [ngValue]="count.size">{{count.size}} {{ 'Items / Page' }} </option>
        </select>
    </div>


</div>