<div class="pagination-controls">

    <ngb-pagination  style="margin-top: 16px;" 
        [collectionSize]="70"
        [pageSize]="properties.pageSize"
        [(page)]="properties.page"
        [maxSize]="3"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="false">
        <ng-template ngbPaginationPrevious>« {{ 'Prev' }} </ng-template>
        <ng-template ngbPaginationNext> {{ 'Next' }} »</ng-template>
        <ng-template ngbPaginationFirst>«« {{ 'First' }} </ng-template>
        <ng-template ngbPaginationLast> {{ 'Last' }} »»</ng-template>
    </ngb-pagination>


    <div class="col d-flex justify-content-end align-items-center">
    </div>



    <div class="col-auto col-xxl-2 d-flex justify-content-end align-items-center ms-auto" *ngIf="properties && true">
        <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="properties.pageSize"
            (change)="setPagination()">
            <option *ngFor="let count of test" [ngValue]="count.size">{{count.size}} {{ 'itemsPerPage' }} </option>
        </select>

    </div>


</div>