.menu-icon {
    border-radius: 10px;
    block-size: 30px;
    inline-size: 30px;
    line-height: 30px;
    // font-size: var(--fontSz18);
    background-color: #17afe2;
}



#sidebar-menu-item {

     transition: all 0.3s ease-out;
    cursor: pointer;
    inline-size: 100%;
    color: rgb(0, 0, 0);
}


.menu-label {
    font-size:10px;
    line-height: 1.2;
    // -webkit-margin-before: 6px;
    margin-block-start: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-inline-size: 100%;
    padding: 0 2px;
}



#sidebar-menu {

    list-style: none; /* Removes bullets */
    margin: 0;        /* Removes default margin */
    padding: 0; 

    display: flex;

    align-items: center;

    flex-direction: column;
    text-align: center;
    gap: 14px;
}



.menu-item-content  {
    display: flex;
    flex-direction: column;
    justify-items: center;


    justify-content: center;
    align-items: center;
    align-content: center;
}



.menu-item-content:hover  {
    .menu-icon {
        border-radius: 10px;
        block-size: 40px;
        inline-size: 40px;
        line-height: 40px;
        background-color:  #4000ff;
    }
    .menu-label {
        font-size:10px;
        line-height: 1.2;
        -webkit-margin-before: 6px;
        margin-block-start: 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-inline-size: 100%;
        padding: 0 2px;
    }
}







.hover-effect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    transition: width 0.3s ease-in-out; /* Smooth transition */
  }

